body {
  background: linear-gradient(to bottom, #0038a8, #ce1126);
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}

.container {
  background: white;
  width: 320px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}
